{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<!-- Yandex.Metrika informer -->
<div class="metrika-bage">
<a href="https://metrika.yandex.ru/stat/?id=98732900&amp;from=informer"
   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/98732900/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
                                       style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="98732900" data-lang="ru" /></a>
</div>
    <!-- /Yandex.Metrika informer -->